<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RA Jr. Dev Dashboard</title>
</head>
<body>

    <h1>Dashboard de Revisão (Protótipo)</h1>
    <h2>Fila de Revisão Global</h2>

    <table border="1" style="width:100%">
        <thead>
            <tr>
                <th>Jogo (ID)</th>
                <th>Desenvolvedor</th>
                <th>Data Pedido</th>
                <th>Status</th>
                <th>Revisor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>(Exemplo) F1 ROC (144627)</td>
                <td>srleo12</td>
                <td>2025-11-07</td>
                <td>Pending</td>
                <td>--</td>
            </tr>
        </tbody>
    </table>

</body>
</html>