<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RA Jr. Dev Dashboard</title>
</head>
<body>

    <h1>Dashboard de Revisão (Protótipo)</h1>
    <h2>Fila de Revisão Global</h2>

    <table border="1" style="width:100%">
        <thead>
            <tr>
                <th>Jogo (ID)</th>
                <th>Desenvolvedor</th>
                <th>Data Pedido</th>
                <th>Status</th>
                <th>Revisor</th>
            </tr>
        </thead>
        <tbody>
            {% if not queue %}
                <tr>
                    <td colspan="5" style="text-align: center;">A fila de revisão está vazia!</td>
                </tr>
            {% else %}
                {% for item in queue %}
                    <tr>
                        <td>{{ item['game_name'] }} ({{ item['game_id'] }})</td>
                        <td>{{ item['developer_username'] }}</td>
                        <td>{{ item['date_requested'] }}</td>
                        <td>{{ item['status'] }}</td>
                        
                        <td>{{ item['reviewer_username'] or '--' }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    <form action="/add" method="post">
        <h3>Pedir Revisão de Set</h3>
        <label for="game_id">Game ID:</label>
        <input type="number" id="game_id" name="game_id" required>
        
        <label for="game_name">Nome do Jogo:</label>
        <input type="text" id="game_name" name="game_name" required>
        
        <label for="developer_username">Dev (Username):</label>
        <input type="text" id="developer_username" name="developer_username" required>
        
        <button type="submit">Enviar Pedido</button>
    </form>
    <hr>

</body>
</html>