<!DOCTYPE html>
<html lang="en"> <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}RA Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">
</head>
<body>
    <div class="container">
        <div class="content-box">
            <h1>Review Dashboard (Prototype)</h1>
            <nav>
                <ul>
                    <li><a href="/">Review Queue</a></li>
                    <li><a href="/history">History</a></li>
                    <li><a href="/status">Status Meaning?</a></li>
                    
                    {% if session['username'] %}
                        <li><a href="/admin">Admin Panel</a></li>
                        <li class="nav-right">
                            <span>Logged in as: {{ session['username'] }} (<a href="/logout">Logout</a>)</span>
                        </li>
                    {% else %}
                        <li class="nav-right">
                            <a href="/login">Admin Login</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <div class="content-box">
            <main>
                {% block content %}{% endblock %}
            </main>
        </div>
    </div> 
    </body>
</html>